snippet _pycp
	#!/usr/bin/python3

	from collections import deque, defaultdict
	import sys
	input = sys.stdin.readline
	i32, i64 = 2 ** 20, 2 ** 60

	def solve():
		pass

	tc = 1
	#$0tc = int(input())
	for tc_ in range(tc):
		solve()
